<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>My Portfolio</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>L</span>araib<span> S</span>ultana</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <!-- <li><a href="#services" data-after="Service">Services</a></li> -->
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Laraib <span></span></h1>
        <a href="#projects" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>CESD Society Website – Namal University</h2>
            <p>Developed a dynamic and user-friendly website for the CESD (Center of Excellence & Skills Development) Society at Namal University using HTML and CSS. The website serves as a digital presence for CESD, showcasing its mission, initiatives, and impact. Key features include:

              Homepage – A welcoming landing page with an overview of CESD.
              
              About Page – Provides insights into the society’s vision and objectives.
              
              Initiatives Section – Highlights various projects and activities.
              
              Impact Page – Showcases the contributions and achievements of CESD.
              
              Contact Us – Enables seamless communication with the society.
              
              Designed with a clean and responsive layout, the website ensures accessibility and engagement for students and stakeholders.</p>
          </div>
          <div class="project-img">
            <img src="../static/img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Ground Water Contamination Model</h2>
            <p>Developed a numerical simulation model to study groundwater contamination spread using Python. The model utilizes Gauss-Seidel and Jacobi iterative methods to solve for hydraulic head distribution and contaminant concentration in a defined domain.</p>
          </div>
          <div class="project-img">
            <img src="../static/img/img-3.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>Bus Ticket Reservation System</h2>
            <p>Developed a Bus Ticket Reservation System (BTRS) with a responsive frontend using HTML & CSS and a functional backend implemented using Object-Oriented Programming (OOP) principles.</p>
          </div>
          <div class="project-img">
            <img src="../static/img/img-4.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="../static/img/img-5.jpeg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Software Developer</h2>
        <p>I am a dedicated software developer and technical writer, managing both content writing and documentation teams. My expertise lies in web development, object-oriented programming, and computational modeling, with hands-on experience in HTML, CSS, Python, and backend development.

          I have worked on diverse projects, including developing a Bus Ticket Reservation System, creating a Groundwater Contamination Model, and designing a website for the CESD Society at Namal University. My role as a joint secretary has honed my leadership, organization, and technical writing skills, allowing me to bridge the gap between technical development and clear documentation.
          
          I am passionate about problem-solving, user-centric design, and continuous learning and always seek opportunities to expand my technical and managerial expertise.</p>
        <a href="../static/My Resume.pdf" class="cta">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+92 3125814485</h2>
            <h2>+92 3095843145</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>laraibsultana01@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Mianwali, Punjab Pakistan</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>L</span>araib <span>S</span>ultana</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/share/1FdXG8vS9q/"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/laraib_3273?igsh=eWNjaTQ4NGY0YnJn"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://github.com/laraib012"><img src="https://img.icons8.com/bubbles/100/000000/github.png" /></a>
        </div>
      </div>
      <p>Copyright © Laraib. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="../static/script.js"></script>
</body>

</html>